/* MAIN */
.mq-container {
  padding: 40px;
  margin-left: 20px;
}

/* TITLE */
.mq-title {
  margin-bottom: 20px;
}

/* FORM CARD */
.mq-form-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  max-width: 700px;
}

/* INPUT */
.mq-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.mq-input.full {
  width: 100%;
}

/* OPTIONS GRID */
.mq-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* LIST */
.mq-subtitle {
  margin-bottom: 15px;
}

/* CARD */
.mq-card {
  background: white;
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.mq-card:hover {
  transform: translateY(-3px);
}
.question-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.question-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.correct-answer {
  color: green;
  font-weight: 500;
}

.question-actions {
  margin-top: 10px;
}

.question-actions button {
  margin-right: 10px;
}

/* BUTTONS */
.edit-btn {
  background: #2b4a8b;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}