.register-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background-image:url("https://images.pexels.com/photos/7045444/pexels-photo-7045444.jpeg");
background-size:cover;
background-position:center;
}

.register-card{
width:380px;
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 10px 40px rgba(0,0,0,0.25);
text-align:center;
}

.register-logo{
width:100px;
margin-bottom:10px;
}

.register-card h2{
color:#2b4a8b;
margin-bottom:20px;
}

.form-group{
text-align:left;
margin-bottom:15px;
}

.form-group label{
display:block;
margin-bottom:5px;
}

.form-group input{
width:100%;
padding:10px;
border-radius:8px;
border:1px solid #ccc;
}

.register-btn{
width:100%;
padding:12px;
background:#2b6de0;
color:white;
border:none;
border-radius:8px;
font-size:16px;
margin-top:10px;
cursor:pointer;
}

.register-btn:hover{
background:#1f57b5;
}

.login-link{
margin-top:15px;
font-size:14px;
}